.THIS {
    position: relative;
}

.THIS .search-related-items {
    display: none;
    border: 1px solid lightgrey;
    min-height: 50px;
    max-height: 100px;
    overflow: auto;
    position: absolute;
    margin-top: -75px;
}