<apex:page standardController="EAW_Window__c"  extensions="EAW_NewWindowController">
   
   <apex:includeLightning />
   <div id="lightning"/>
   
   <script>  
       $Lightning.use("c:EAW_WindowApp", function() {
         $Lightning.createComponent("c:EAW_WindowNewOverride",
             {'windowGuidelineId' : '{!windowGuidelineId}','windowGuidelineName' : '{!windowGuidelineName}'},
             "lightning",
             function(cmp) {
               console.log("new window was created in vf page");
             }
         );
       }); 
   </script>
   
</apex:page>