.THIS .stationary-toggle {
    display: inline-block;
    margin-left: .25rem;
    margin-top: 6px;
}

.THIS .basic-height {
    height: 45px;
}
.THIS .CustomTableDivSize {
	
	 min-height: 100px;
	 max-height: 450px;
	 overflow: scroll;
 }
.THIS .scrolledContent{
    max-height:400px;
    overflow:auto;
}
/*Header css */
.THIS .fixed_header tbody{
  display:block;
  max-height:100%!important;
}

.THIS .fixed_header thead tr {
   display: block;
}
.THIS table.fixed_header thead tr th:last-child { 
   border-right: 1px solid rgb(221, 219, 218);
}
.THIS .checkBoxClass{
    width:2rem!important;
}
.THIS .paddingOverridden{
	padding-right:0.1rem!important;
	padding-left:0.1rem!important;
}
.THIS .highlightIcon{
	color: blue;
}
.THIS .container{
    font-size:11.5px;
    font-weight:bolder;
}
.THIS .slds-th__action {
    font-size:larger;
}
/*LRCC-1694*/ 
.THIS .container td {
	
	padding: 1rem 0rem !important;
    border-right:1px solid rgb(221, 219, 218);
}
.THIS .container th {
	
    border-right:1px solid rgb(221, 219, 218);
    position: sticky;
    top:0px;
    z-index: 10;
}
.THIS .container th:nth-child(1){
    left:0px!important;
    z-index:22!important;
}
.THIS .container th:nth-child(2) {
    left : 33px!important;
    z-index : 22!important;
}
.THIS .container th:nth-child(3) {
    left : 188px!important;
    z-index : 22!important;
}
.THIS .container th:nth-child(4) {
    left : 323px!important;
    z-index : 22!important;
}
.THIS .container tr td:nth-child(1) {
    left:0px!important;
    z-index:20!important;
    position:sticky;
}
.THIS .container tr td:nth-child(2)  {
    left : 33px!important;
    z-index : 20!important;
    position:sticky;
}
.THIS .container tr td:nth-child(3)  {
   left : 188px!important;
    z-index : 20!important;
    position:sticky;
}
.THIS .container .customClass {
    left : 323px!important;
    z-index : 20!important;
    position:sticky;
}