.THIS .scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
	border-radius: 10px;
	background-color: #fafaf9;
}

.THIS .scrollbar::-webkit-scrollbar
{
	width: 10px;
	background-color: #dddbda;
}

.THIS .scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
	background-color: #808080;
}