.THIS #eaw-import-strands-modal {
    display: none;
}

.THIS #eaw-import-strands-modal .cEAW_Import_Strands {
    height: 0px !important;
}

.THIS .display-inline-block {
    display: inline-block;
}