.THIS .customRequired:before {    
    content: "*";
    margin: 4px 0.125rem 0 0.125rem;
    color: rgb(194, 57, 52);
    float: left; 
}
.THIS .requiredBorder  input {
    background-color: rgb(255, 255, 255)!important;
    border-color: rgb(194, 57, 52)!important;
    box-shadow: rgb(194, 57, 52) 0 0 0 2px inset!important;
    background-clip: padding-box!important;
}