/* This file was referenced from https://github.com/pozil/sfdc-ui-lookup */
.THIS .listbox-selections {
    border: 1px solid lightgrey;
    max-height: 75px;
    overflow: auto;
    padding: 2px;
}

.THIS .listbox-search-results ul {
    max-height: 125px;
    overflow: auto;
}
.THIS input.single-select-combobox__input[readonly] {
    padding-left: 2rem;
}
.THIS .onHoverTest{
    z-index: 6000;
}
.THIS .onHoverTest:hover {
   z-index : 2!important;
}