.THIS .customheader {
    
    background: #16325c;
    color: white;
    padding: 20px;
    border-radius: .25rem;
}
.THIS .CustomBody {
    min-height: 200px;
    max-height: 200px;
    padding: 5%;
}