.THIS.customCSS {
    border: 1px solid rgb(221, 219, 218) !important;
    border-radius: .25rem;
}
.THIS.customCSS header {
    padding-left: 12px !important;
    padding-right: 12px !important;
    padding-top: 12px !important;
}
.THIS.customCSS .slds-text-heading_small {
	font-weight:600 !important;
    font-size: 14px !important;    
}