.THIS #deactivate-window-guideline-modal {
    display: none;
    height: 0px !important;
}

.THIS .stationary-toggle {
    display: inline-block;
    margin-left: .25rem;
    margin-top: 6px;
}

.THIS .basic-height {
    height: 45px;
}
.THIS tbody tr:focus {
    outline: none!important;
}
.THIS tbody tr:hover {
    outline: none!important;
}
.THIS .scrolledContent{
    max-height:400px;
    overflow:auto;
}
/*Header css */
.THIS .fixed_header tbody{
  display:block;
  width: 2500px;
  overflow: auto;
}

.THIS .fixed_header thead tr {
   display: block;
}
.THIS table.fixed_header thead tr th:last-child { 
   border-right: 1px solid rgb(221, 219, 218);
}
/*LRCC-1459*/
.THIS .pagesPerRecordFix{
        background: #f5f4f4;
    /* padding-left: 10px; */
    padding: 5px;
    border: 0.5px solid rgb(221, 219, 218);
    /*border-top: 2px solid #38739e;*/
    border-radius: 4px;
}
.THIS .pagesPerRecordFixTop{
        background: #f5f4f4;
    /* padding-left: 10px; */
    padding: 10px;
    border: 0.5px solid rgb(221, 219, 218);
    border-top: 2px solid #38739e;
    border-radius: 4px;
}
.THIS .container{
    overflow: auto;
    background: #f6f6f5;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid #e1e0df;
    padding-top: 2px;
    font-size:smaller;
    font-weight:bolder;
    max-height: 450px;
	overflow: scroll;
}
.THIS .alphabeticSearchLayout {
    
    text-align: right;
    padding-right: 4px;
    padding-bottom: 5px;
}
.THIS .seletedHeader {
    
    width: 200px;
    background-color: #e7f0f9;
    border-top: #3d79a1 2px solid;
    border-radius: 0px;
}
.THIS .seletedHeader .slds-th__action:focus {
    
    background-color: rgb(231, 240, 249) !important;
    box-shadow: none !important;
}
.THIS a.disabled {
    
    pointer-events: none !important;
    cursor: default;
    color:black;
}
.THIS a.selected {
    
    color: red !important;
    font-weight: 600 !important;
}
.THIS .checkBoxClass{
     /*LRCC-1694*/    
    width:32px !important;
}
.THIS .slds-th__action {
    font-size:larger;
}
/*LRCC-1694*/
.THIS td {
	
	
    border-right:1px solid rgb(221, 219, 218);
}
.THIS th {
	
    border-right:1px solid rgb(221, 219, 218);
    position: sticky;
    top: 0;
    z-index: 10;
}
.THIS .cEAW_TableData{
   padding: 1rem 0rem !important;
}
.THIS .slds-cell-edit {
    outline: 0;
    width: 34px!important;
}
.THIS .iconClass{
    max-width:20px!important;
}
.THIS .thead{
    left: 0px;
    position: sticky;
    z-index: 10;
}