.THIS {
    /* 
    //LRCC-1556 
    background-color: #FFF;
    */
    border-radius: .25rem;
}
.THIS .right-padding {
    padding-right: 12px;
}
.THIS .display-inline {
    display: inline-block;
}
.THIS .scrolledContent{
    max-height:400px;
    overflow:auto;
}
/*Header css */
.THIS .fixed_header tbody{
  display:block;
  overflow: auto;
}

.THIS .fixed_header thead tr {
   display: block;
}
.THIS table.fixed_header thead tr th:last-child { 
   border-right: 1px solid rgb(221, 219, 218);
}
/*LRCC-1459*/
.THIS .pagesPerRecordFix{
        background: #f5f4f4;
    /* padding-left: 10px; */
    padding: 5px;
    border: 0.5px solid rgb(221, 219, 218);
    /*border-top: 2px solid #38739e;*/
    border-radius: 4px;
}
.THIS .pagesPerRecordFixTop{
        background: #f5f4f4;
    /* padding-left: 10px; */
    padding: 10px;
    border: 0.5px solid rgb(221, 219, 218);
    border-top: 2px solid #38739e;
    border-radius: 4px;
}
.THIS .container{
    overflow: auto;
    background: #f6f6f5;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid #e1e0df;
    padding-top: 2px;
    font-size:smaller;
    font-weight:bolder;
	max-height: 450px;
	overflow: scroll;
}
.THIS .alphabeticSearchLayout {
    
    text-align: right;
    padding-right: 4px;
    padding-bottom: 5px;
}
.THIS .seletedHeader {
    
    width: 200px;
    background-color: #e7f0f9;
    border-top: #3d79a1 2px solid;
    border-radius: 0px;
}
.THIS .seletedHeader .slds-th__action:focus {
    
    background-color: rgb(231, 240, 249) !important;
    box-shadow: none !important;
}
.THIS a.disabled {
    
    pointer-events: none !important;
    cursor: default;
    color:black;
}
.THIS a.selected {
    
    color: red !important;
    font-weight: 600 !important;
}
.THIS .customSpinnerCSS {
    
    position: fixed !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.THIS .checkBoxClass{
    /*LRCC-1694*/
       padding-left: 8px !important;
    width:2rem!important;
}
.THIS .slds-th__action {
    font-size:larger;
}
/*LRCC-1694*/
.THIS td {
	
	/*padding: 1rem 0rem !important;*/
    border-right:1px solid rgb(221, 219, 218);
}
.THIS th {
	/*padding: 1rem 0rem !important;*/
    /*border-right:1px solid rgb(221, 219, 218);*/
    position: sticky;
    top: 0;
    z-index: 10;
}
.THIS .cEAW_TableData{
    padding: 1rem 0rem !important;
}
.THIS .thead{
    left: 0px;
    position: sticky;
    z-index: 10;
}
.THIS .slds-cell-fixed{
    border-right:1px solid rgb(221, 219, 218);
}