.THIS .ErrorMsgBorder{
    border-color: #bd3732;
}
.THIS .SuccessMsgBorder{
    border-color: #3c814a;
}
.THIS .SuccessMsgWidth {
    width:20% !important; 
    min-width:25rem !important;
}
.THIS .ErrorMsgWidth {
    width:45% !important; 
    min-width:25rem !important;
}