.THIS {
}
.THIS .fixed_header tbody{
  display:block;
  overflow: auto;
  max-height:400px;
}

.THIS .fixed_header thead tr {
   display: block;
}
.THIS table.fixed_header thead tr th:last-child { 
   border-right: 1px solid rgb(221, 219, 218);
}