.THIS .slds-scrollable_y {
    min-height: 150px;
}
.THIS .labelNone label{
	display : none!important;
}
/*LRCC-1489*/
.THIS.CustomTextWrapCssTd .slds-truncate{
    
    /*overflow: initial !important;
    white-space: initial !important;*/
    /*LRCC-1694
	max-width: 99%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;*/
}
/*LRCC-1522*/
.THIS .uiInput--datetime .datePicker-openIcon {
    height: 19px !important ;
}