.THIS {
}
.THIS .slds-th__action{
    font-weight:800!important;
    font-size : smaller!important;
}
.THIS .slds-card__header {
    background-color : #38739e;
}
.THIS .slds-hint-parent{
    font-size: smaller!important;
    font-weight: 600!important;
}
.THIS .slds-grid_align-spread{
    font-weight: 600!important;
}