.THIS .fully-hide-label .slds-form-element__label {
	display: none;
}

.THIS .fully-hide-label .slds-form-element__control {
	width: 100%;
}

.THIS .border-left-dashed {
	border-left: 2px dashed lightgray;
}

.THIS .border-solid-upper {
	background: azure;
	border-top: 2px solid lightgray;
	border-left: 2px solid lightgray;
	border-right: 2px solid lightgray;
}

.THIS .border-solid-lower {
	background: azure;
	border-bottom: 2px solid lightgray;
	border-left: 2px solid lightgray;
	border-right: 2px solid lightgray;
}
/*LRCC-1019*/
.THIS.toggle {
    display: none;
}
.THIS.toggleshow {
    display: block;
}
/*LRCC-1459*/
.THIS .customSpinnerCSS {
    
    position: fixed !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.THIS .pagesPerRecordFix{
        background: #f5f4f4;
    /* padding-left: 10px; */
    padding: 5px;
    border: 0.5px solid rgb(221, 219, 218);
    /*border-top: 2px solid #38739e;*/
    border-radius: 4px;
}
.THIS .pagesPerRecordFixTop{
        background: #f5f4f4;
    /* padding-left: 10px; */
    padding: 10px;
    border: 0.5px solid rgb(221, 219, 218);
    border-top: 2px solid #38739e;
    border-radius: 4px;
}
.THIS .container{
    overflow: auto;
    background: #f6f6f5;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid #e1e0df;
    padding-top: 2px;
}
.THIS .alphabeticSearchLayout {
    
    text-align: right;
    padding-right: 4px;
    padding-bottom: 5px;
}
.THIS .seletedHeader {
    
    width: 200px;
    background-color: #e7f0f9;
    border-top: #3d79a1 2px solid;
    border-radius: 0px;
}
.THIS .seletedHeader .slds-th__action:focus {
    
    background-color: rgb(231, 240, 249) !important;
    box-shadow: none !important;
}
.THIS a.disabled {
    
    pointer-events: none !important;
    cursor: default;
    color:black;
}
.THIS a.selected {
    
    color: red !important;
    font-weight: 600 !important;
}
.THIS .scrolledContent{
    max-height:400px;
    overflow:auto;
}
/*Header css */
.THIS .fixed_header tbody{
  display:block;
  
}

.THIS .fixed_header thead tr {
   display: block;
}
.THIS table.fixed_header thead tr th:last-child { 
   border-right: 1px solid rgb(221, 219, 218);
}
/* LRCC-1628 */
.THIS .uiLabel { 
   padding-right: 5px;
}

/*LRCC-1731*/
.THIS .removelable label { 
    
  display: none;
}
.THIS .removelable .pillContainer {
    
    border: 1px solid lightgrey !important;
    max-height: 75px !important;
    overflow: auto !important;
    padding: 2px !important;
}
.THIS .removelable .ulPill {
    
    width: 100%;
    min-height: 40px;
    max-height: 150px;
    margin-top: 0!important;
    overflow: auto;
    position: absolute;
    top: 33px;
}