<apex:page standardController="EAW_Window_Guideline_Strand__c"  extensions="EAW_WGStrandSoftDeleteController">
    <apex:slds />
    <div class="slds-scope">
    <div id="myDIV" class="demo-only" style="height:6rem">
        <div class="slds-spinner_container">
            <div role="status" class="slds-spinner slds-spinner_large slds-spinner_brand">
                <span class="slds-assistive-text">Loading</span>
                <div class="slds-spinner__dot-a"></div>
                <div class="slds-spinner__dot-b"></div>
            </div>
        </div>
    </div>
    </div>
    <apex:includeLightning />
    
   <apex:includeLightning />
   <div id="lightning"/>
   
   <script>  
       $Lightning.use("c:EAW_SoftDeleteApp", function() {
         $Lightning.createComponent("c:EAW_SoftDeleteOverride",
         {'sObjectListString' :'{!wgsListString}','sObjectName' :'EAW_Window_Guideline_Strand__c','sobjectRecId':'{!wgsId}'},"lightning",
            
             function(cmp) {
                if('{!wgsId}' != ''){ 
                
                    var x = document.getElementById("myDIV");
                    x.style.display = "none";
                
                }
               console.log("new window was created in vf page",'{!wgsListString}');
             }
         );
       }); 
   </script>
   
</apex:page>