<apex:page standardController="EAW_Window_Guideline_Strand__c"  extensions="EAW_NewWindowGuidelineStrandController">
   
   <apex:includeLightning />
   <div id="lightning"/>
   
   <script>  
   $Lightning.use("c:EAW_NewWindowGuidelineStrandApp", function() {
         $Lightning.createComponent("c:EAW_WindowGuidelineStrandNewOverride",
             {'windowGuidelineId' : '{!windowGuidelineId}','windowGuidelineName' : '{!windowGuidelineName}'},
             "lightning",
             function(cmp) {
               console.log("new window guideline strand was created in vf page");
             }
         );
       }); 
   </script>
   
</apex:page>