.THIS .not-active {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}
.THIS .slds-button_brand{
    __padding : 5px;
}
.THIS .customSpinnerCSS {
    
    position: fixed !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}