.THIS .fully-hide-label .slds-form-element__label {
	display: none;
}

.THIS .fully-hide-label .slds-form-element__control {
	width: 100%
}
.THIS .customSpinnerCSS {
    
    position: fixed !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}