.THIS .labelNone label {
	display : none!important;
}
.THIS .uiInput--datetime .datePicker-openIcon {
    height: 19px !important ;
}
.THIS th {
    height:80px;
    border-right:1px solid rgb(221, 219, 218);
}
.THIS .slds-listbox {
    height:120px;
    overflow:scroll;
}
/* LRCC-1517 */
.THIS .pillContainer {
    max-width: 150px !important;
}