.THIS .widthClass {
    width:100%;
}
.THIS .inputSize {
    min-height:10px !important;
}
.THIS .removeClass {
    padding: 0px !important;
    border: 0px !important;
}
.THIS .widthClass .slds-pill__label {
    line-height: 2 !important;
}
/*LRCC-1731*/
.THIS .pillContainer {
    
    /*max-height:120px;
    overflow:scroll;*/
    border: 1px solid lightgrey !important;
    max-height: 75px !important;
    overflow: auto !important;
    padding: 2px !important;
}

.THIS .ulPill {
    
   /* width:100%;
    min-height:40px;
    max-height:150px;
    margin-top:0px !important;
    overflow:scroll;*/
    width: 100%;
    min-height: 40px;
    max-height: 150px;
    margin-top: 0!important;
    overflow: auto;
    position: absolute;
    top: 33px;


}
.THIS .hoverClass:hover .hideOuter{
  z-index:11 !important;
}
.THIS .pillClose{
    visibility: hidden;
    height: 0px!important;
    margin-top: -4px;
}