.THIS {
    
}
.THIS.CustomCardStyle{
	position: relative!important;
    padding: 0!important;
    background: rgb(255, 255, 255) !important;
    border: 1px solid rgb(221, 219, 218)!important;
    border-radius: .25rem!important;
    background-clip: padding-box!important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10)!important;
}