.THIS .content-field {
    float: left;
    width: 33%;
    height: 65px;
}

.THIS .content-category-button {
    float: left;
    width: 25%;
    margin-left: 12px;
    margin-right: 32px;
}

.THIS .content-category-dropdown {
    float: right;
    width: 60%;
    margin-right: 6px;
}

.THIS lightning-radio-group {
    float: left;
}

.THIS lightning-radio-group .slds-radio {
    display: inline-block;
}

.THIS .formatted-input_id {
    display: flex;
    padding-left: 12px;
}