.THIS {
}
.THIS .scrolledContent{
    max-height:400px;
    overflow:auto;
}
/*Header css */
.THIS .fixed_header tbody{
    display:block;
    width: 2500px;
    max-height:100%;
}

.THIS .fixed_header thead tr {
   display: block;
}
.THIS table.fixed_header thead tr th:last-child { 
   border-right: 1px solid rgb(221, 219, 218);
}
.THIS .slds-icon-utility-down{
    z-index : 0;
}
.THIS .datePicker-openIcon{
    z-index : 0;
}
.THIS .checkBoxClass{
    width:2rem!important;
}
.THIS.container{
    font-size:11.5px;
    font-weight:bolder;
    max-height: 450px;
    overflow: scroll;
}
.THIS .slds-th__action {
    font-size:larger;
}
.THIS .paddingOverridden{
	padding-right:0.1rem!important;
	padding-left:0.1rem!important;
}
.THIS.container td {
    padding: 1rem 0rem !important; 
    border-right: 1px solid rgb(221, 219, 218);    
}
.THIS .slds-cell-fixed{
     border-right: 1px solid rgb(221, 219, 218);
}
.THIS .slds-border_bottom{
     border-right: 1px solid rgb(221, 219, 218);
}
.THIS .thead{
   /* left: 0px;
    position: sticky;
    z-index: 10;*/
}
.THIS.container th {
	
    /*border-right:1px solid rgb(221, 219, 218);*/
    position: sticky;
    top:0px;
    z-index: 10;
     
}
.THIS.container th:nth-child(1){
    left: -3px !important;
    z-index:22!important;
}
.THIS.container th:nth-child(2) {
    left : 29px!important;
    z-index : 22!important;
}
.THIS.container th:nth-child(3) {
    left : 188px!important;
    z-index : 22!important;
}
.THIS.container th:nth-child(4) {
    left : 323px!important;
    z-index : 22!important;
}
.THIS.container tr td:nth-child(1) {
    left:-3px!important;
    z-index:20!important;
    position:sticky;
}
.THIS.container tr td:nth-child(2)  {
    left : 29px!important;
    z-index : 20!important;
    position:sticky;
}
.THIS.container tr td:nth-child(3)  {
   left : 188px!important;
    z-index : 20!important;
    position:sticky;
}
.THIS.container .customClass {
    left : 323px!important;
    z-index : 20!important;
    position:sticky;
}