.THIS {
}
.THIS .slds-icon-utility-down{
    z-index : 0;
}
.THIS .datePicker-openIcon{
    z-index : 0;
}
.THIS .slds-icon-standard-account{
    z-index : 0;
}
.THIS .slds-button_icon-bare{
    z-index : 0;
}
.THIS .slds-icon-utility-search{
    z-index : 0;
}