.THIS #existing-window-guideline-results {
    display: none;
    border: 1px solid lightgrey;
}
.THIS .search-window-guidelines tbody {
    display: block;
    max-height: 175px;
    overflow-y: scroll;
}
.THIS .search-window-guidelines thead {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.THIS .search-window-guidelines tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.THIS .search-window-guidelines .search-window-guidelines-checkbox {
    width: 5%;
}
.THIS #error-window-guideline-results {
    display: none;
    padding: 10px;
}