.THIS #eaw-new-window-guideline-modal {
    display: none;
}

.THIS #eaw-new-window-guideline-modal .cEAW_NewWindowGuideline {
    height: 0px !important;
}

.THIS #eaw-remove-plan-window-guideline-junction-modal {
    display: none;
}

.THIS #eaw-remove-plan-window-guideline-junction-modal div.popup {
    height: 0px !important;
}

.THIS #eaw-add-plan-window-guideline-junction-modal {
    display: none;
}

.THIS #eaw-add-plan-window-guideline-junction-modal div.popup {
    height: 0px !important;
}