.THIS .link button {
    background:none!important;
    border:none; 
    padding:0!important;
    cursor:pointer;
}
.THIS .iconWidth > .slds-button__icon {
    width: 1.5rem!important;
    height: 1.5rem!important;
    fill: currentColor;
}